<!DOCTYPE html>
<html>
<head>
  <title>Success Page</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="success-container">
    <h1>Registration Successful</h1>
    <p>Congratulations! You have successfully registered.Please verify your mail</p>
    <a href="/login">Go to Home Page</a>
  </div>
</body>
</html>